
$color-primary-1: #25758A;
$color-primary-2: #FF9E1B;
$color-primary-3: #39AAE5;
$color-primary-4: #002D87;
$color-primary-5: #A6093D;
$color-primary-6: #257681;
$color-primary-7: #3BB5E2;

$color-grey-1: #EFF1F5;
$color-grey-2: #E4E7ED;
$color-grey-3: #333333;
$color-grey-4: #8a8a8a;
$color-grey-5: #C6C9D0;
$color-grey-6: #313131;
$color-grey-7: #F7F7F7;
$color-grey-8: #3B3B3B;
$color-grey-9: #21212180;
$color-grey-10: #EDEFF5;
$color-grey-11: #707070;
$color-grey-12: #8F9193;
$color-grey-13: #EEF0F4;

$color-light-1: #FFFFFF;
$color-light-2: #0927B4;
$color-orange-light: #FF6C1C;
$color-grey-light-3: #D1D1D1;

$color-orange-1: #FF9E1B;
$color-orange-2: #F49F1B;
$color-orange-3: #C6AA76;
$color-orange-4: #D9C756;

$color-red-1: #F44336;
$color-red-2: #C40010;
$color-red-3: #F8D7DA;

$color-blue-1: #4D698E;
$color-blue-2: #7D9BC1;

$color-green-1: #74AA50;
$color-green-2: #D4EDDA;

$font-regular: "OceaniaRegular";
$font-bold: "OceaniaBold";