.user-outline{
  padding: 20px;
  margin:20px 20px;
  #search-box{
    margin-left: 10px; 
    align-items: unset;
  }
  .add-button{
    background-color:lightgreen;
  }
}
table {
  width: 100%;
  th, td{
    text-align: center;
  }
  th{
    font-weight: bold;
  }
}