<div class="content">
    <mat-grid-list cols="3" rowHeight="100vh">
        <mat-grid-tile class="left-pane-wrapper loginBackground" [colspan]="2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="loginTitle text-center">BANKO DE PILIPINAS</mat-card-title>
                    <mat-card-subtitle class="subTitle">Automated Teller Website</mat-card-subtitle>
                </mat-card-header>   
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="right-pane-wrapper" [colspan]="1">
            <form [formGroup] = "loginForm" (ngSubmit) = "login()">
                <div class="login-form">
                    <h1>Sign In</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" type="text"
                        [class.valid]="loginForm.get('username').valid && 
                        (loginForm.get('username').dirty || loginForm.get('username').touched)">
                     </mat-form-field>                
                     <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').errors &&  
                     (loginForm.get('username').dirty || loginForm.get('username').touched)">
                        <small class="text-danger"
                            *ngIf="loginForm.get('username').hasError('pattern')">
                            Please provide a valid email address
                        </small>
                     </div>
                     <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type = "password"
                        [class.valid]="loginForm.get('password').valid && 
                        (loginForm.get('password').dirty || loginForm.get('password').touched)">
                     </mat-form-field>
                     <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').errors &&  
                        (loginForm.get('username').dirty || loginForm.get('username').touched) &&
                        loginForm.get('password').invalid && loginForm.get('password').errors &&  
                        (loginForm.get('password').dirty || loginForm.get('password').touched)">
                        <small class="text-danger"
                            *ngIf="loginForm.get('password').hasError('required') && loginForm.get('username').hasError('required')">
                            Username and Password field is required.
                        </small>
                     </div>
                     <button mat-raised-button color="primary" [disabled]="loginForm.invalid">LOGIN</button>
                </div>
            </form>
        </mat-grid-tile>
    </mat-grid-list>
</div>
