
<mat-toolbar>
    <mat-list>
        <button mat-button><mat-icon>home</mat-icon></button>
    </mat-list>
    <span class="flexExpand"></span>
    <mat-list>
        <mat-form-field>
            <button mat-button><mat-icon>search</mat-icon></button>
            <input type="text" matInput>
        </mat-form-field>
    </mat-list>
    <mat-list>
        <button mat-button><mat-icon>account_circle</mat-icon></button>
    </mat-list>
  </mat-toolbar>
<router-outlet></router-outlet>
<div class="footer">
<span>© Copyright BDP SA 2022. </span>
</div>