@import 'src/styles/variables';

.flexExpand{
    flex: 1 1 auto;
}
.footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:$color-primary-7;
        color: white;
        text-align: center;
  }

mat-toolbar{
    background-color:$color-primary-7;
    mat-icon{
        color: white;
        fill: white;
    }
    mat-form-field{
        width: 18em;
        color: white;
        button{
            border-color: transparent;
        }
    }
    mat-list{
        margin-left: 20px;
    }
}